.social-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-column-gap: 0.2em;
    grid-row-gap: 1em;
}

.social-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.social{
	background: none;
	border: none !important;
	color: white;
	font-size: 2.7em;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.social:focus, .social:hover {
	outline: none !important;
	box-shadow: unset !important;
}



@media (min-width: 1024px){
  .social-wrapper{
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 768px){
    .social-wrapper{
     grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 300px){
  .social-wrapper{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 200px){
    .social-wrapper{
      grid-template-columns: repeat(1, minmax(50px, 1fr));
    }
}

.fa-facebook:hover {
	color: rgb(60,90,153);
}

.fa-twitter:hover {
	color: rgb(29,161,242);
}

.fa-instagram:hover{
	color: rgb(193,53,132);
}

.fa-linkedin:hover{
	color: rgb(0, 119, 181);
}

.fa-facebook-messenger:hover{
	color: #15aabf;
}

.fa-github-alt:hover{
	color: rgb(139 98 214);
}
